body {
    font-family: Martel;
    background: #FAFAFA;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 104px;
    background: #F3F3F3;
    display: inline-flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#navbar {
    display: flex;
    width: 500px;
    margin-left: 150px;
}

.navbar h3 {
    color: #252B42;
    font-size: 24px;
    line-height: 32px; 
    letter-spacing: 0.1px;
    margin: 0 auto;
}

#navbar #links a {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.2px;
    cursor: pointer;
    padding: 10px;
}

.navbar svg {
    position: absolute;
    right: 59px;
    cursor: pointer;
}

.navbarItem {
    display: none;
}

.section1 {
    background-image: url("../asset/img-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 104px 0 84px;
}

.section1 .title {
    margin-left: 197px;
}

.section1 h1 {
    color: #252B42;
    padding-top: 80px;
    width: 509px;
    font-size: 58px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 0.2px;
}

.section1 h4 {
    color: #737373;
    margin: 35px 0;
    width: 376px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.section1 button {
    padding: 10px 36px;
    border-radius: 37px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: 0.2px;
    cursor: pointer;
}

#btnGetQuote {
    width: 182px;
    border: none;
    background: #784F33;
    color: #FFF;
    margin-right: 10px;
}

#btnGetQuote:hover {
    background: #784F3395;
    transition: all 0.2s;
}

#btnLearnMore {
    width: 155px;
    border: 1px solid #784F33;
    color: #784F33;
}

#btnLearnMore:hover {
    background: #d5d4d4;
    border: 1px solid #d5d4d4;
    color: #FFF;
    transition: all 0.2s;
}

.section1 .cardItem {
    width: 70%;
    display: flex;
    gap: 30px;
    margin: 80px auto;
}

.section1 .card {
    width: 248px;
    height: 140px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #FFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.section1 .card svg {
    fill: #295C7A;
}

.section1 .card h3,
.section7 h3 {
    color: #252B42;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.section1 .card p {
    color: #737373;
    margin: 0;
    width: 199px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.section1 .card:hover,
.section1 .card:hover > h3,
.section1 .card:hover > p,
.section1 .card:hover > svg {
    background: #295C7A;
    color: #FFF;
    fill: #FFF;
    transition: all 0.2s;
}

.section2 {
    padding: 30px 0 94px;
    text-align: center;
}

.section2 .mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px auto;
    align-items: center;
}

.section2 h2, 
.section3 h2,
.section4 h2,
.section6 h2 {
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    margin: 0;
}

.section2 p,
.section3 p, 
.section4 p,
.section6 p,
.section7 p {
    width: 468px;
    color: #737373;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
}

.section2 .cardItem {
    /* display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto; */
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 230px);
    justify-content: center;
}

.section2 .card {
    background: #FFF;
    display: flex;
    width: 150px;
    height: 142px;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.section2 .card svg {
    fill: #D0A144;
}

.section2 .card h5 {
    color: #737373;
    width: 166px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.section2 .card:hover,
.section2 .card:hover > h2,
.section2 .card:hover > h5,
.section2 .card:hover > svg {
    background: #D0A144;
    color: #FFF;
    fill: #FFF;
    transition: all 0.2s;
}

.section3 {
    margin: 80px 0;
}

.section3 .mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 45px 0;
    align-items: center;
}

.section3 .mainContent p {
    text-align: center;
}

.section3 .column {
    cursor: pointer;
}

.section3 .column:hover {
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.section3 .cardItem {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    padding-top: 45px;
}

.section3 .card {
    background: #FFF;
    display: flex;
    width: 170px;
    padding: 30px;
    flex-direction: column;
    gap: 15px;
}

.section3 .card h5 {
    color: #252B42;
    width: 125px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.section3 .card p {
    width: 163px;
    height: 80px;
    color: #737373;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
}

.section4 {
    background: #FFF;
    padding-bottom: 143px;
}

.section4 .mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 195px;
    align-items: center;
}

.section4 .mainContent p {
    text-align: center;
}

.section4 .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin: 0 auto;
}

.section4 .column1 {
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section4 button {
    display: inline-flex;
    padding: 34.8px 36.8px;
    align-items: center;
    border-radius: 73.6px;
    border: none;
    background: #295C7A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#subContent1 {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    gap: 10px;
}

#subContent1 h2 {
    width: 321px;
}

#subContent1 p {
    width: 306px;
}

#subContent2 {
    display: flex;
    gap: 20px;
}

/* #subContent:first {
    margin: 30px 0;
} */

#subContent2 div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#subContent2 div h5 {
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0;
}

#subContent2 div h6 {
    color: #737373;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
}

.section5 {
    text-align: center;
    position: relative;
}

.section5 .row1 {
    display: flex;
    padding: 50px 195px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.section5 .row1 .imgContainer {
    width: 153px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottomBar {
    width: 100%;
    height: 77px;
    background: #252B42;
    position: absolute;
    bottom: -20px;
}

.section5 .row2 {
    display: flex;
    width: 886px;
    padding: 30px 50px;
    flex-direction: column; 
    margin: auto;
    border-radius: 2px;
    background: var(--background-gradient-1, linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%));
    position: relative;
}

.section5 .row2 .container {
    display: flex;
    align-items: center;
    gap: 180px;
}

.section5 .row2 .container .column1 h3 {
    color: #FFF;
    width: 253px;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: 0.1px;
    margin: 0;
}

.section5 .row2 .container .column2 {
    display: flex;
}

#email {
    color: #737373;
    width: 313px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 15px 0 15px 20px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
}

#subscribe {
    display: flex;
    width: 117px;
    padding: 15px 22.5px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #E6E6E6;
    background: #D0A144;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.section6 {
    padding-bottom: 155px;
    text-align: center;
}

.section6 .mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 80px 195px;
    align-items: center;
}

.section6 .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section6 .cardItem {
    width: 248px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    align-items: center;
    gap: 15px;
}

.section6 .cardItem2 {
    width: 248px;
    background: #252B42;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    align-items: center;
    gap: 15px;
    color: #FFF;
}

.section6 #emails {
    width: 210px;
    height: 48px;
}

.section6 .cardItem h6 {
    color:#252B42;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
}

.section6 .cardItem2 h6 {
    color:#FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
}

.section6 .cardItem h5 {
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0;
}

.section6 .cardItem2 h5 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0;
}

.section6 .cardItem button {
    display: flex;
    padding: 10px 20px;
    color: #D0A144;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #D0A144;
    cursor: pointer;
}

.section6 .cardItem2 button {
    display: flex;
    padding: 10px 20px;
    color: #D0A144;
    background: #252B42;
    border-radius: 5px;
    border: 1px solid #D0A144;
    cursor: pointer;
}

.section6 .cardItem button:hover {
    background: #D0A144;
    color: #FFF;
    transition: all 0.2s;
}

.section6 .cardItem2 button:hover {
    background: #D0A144;
    color: #252B42;
    transition: all 0.2s;
}

.section7 {
    display: flex;
    background: #FFF;
    justify-content: center;
}

.section7 .row {
    display: flex;
    padding: 40px 0px;
    align-items: center;
    gap: 360px;
}

.section7 .column1 {
    display: flex;
    width: 454px;
    flex-direction: column;
    gap: 10px;
}

.section7 .column2 {
    display: flex;
    width: 236px;
    flex-direction: column;
    align-items: center;
}

.section7 button {
    width: 158px;
    height: 58px;
    padding: 15px 40px;
    color: #FFF;
    border-radius: 5px;
    background: #784F33;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.section7 button:hover {
    background: #784F3395;
    border: #784F3395;
    transition: all 0.2s;
}

.footer1 {
    display: flex;
    background: var(--background-gradient-1, linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%));
    justify-content: center;
}

.footer1 .row {
    display: flex;
    padding: 50px 0px;
    gap: 80px;
}

.footer1 .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer1 h5 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0;
}

.footer1 #list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer1 p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
}

.footer1 #item {
    display: flex;
    gap: 10px;
}

.footer2 {
    display: flex;
    background: #FFF;
    justify-content: center;
    align-items: center;
}

.footer2 .row {
    display: flex;
    height: 24px;
    padding: 25px 0px;
    align-items: center;
    gap: 213px;
}

.footer2 .column1 {
    display: flex;
    width: 600px;
    flex-direction: column;
}

.footer2 p {
    color: #737373;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.footer2 .column2 {
    display: flex;
    width: 236px;
    flex-direction: column;
    align-items: center;
}

.footer2 #container {
    display: flex;
    gap: 20px;
}

.footer2 svg {
    cursor: pointer;
}